# Ignore node_modules
node_modules

# Ignore build directories
/build
/.next
/out

# Ignore dependency directories
.pnp
.yarn

# Ignore test coverage
/coverage

# Ignore misc files
.DS_Store
*.pem

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore env files
.env*
